.conteiner {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}


#topo {
    background-color: #303030;
    display: flex;
    align-items: center;
    width: Fixed (1,440px)px;
height: Fixed (475px)px;
gap: 0px;
    opacity: 0px;

}

#txt-topo {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
}